
\.vs/HuddersfieldUniversity/v15/Server/sqlite3/storage\.ide

\.vs/HuddersfieldUniversity/v15/Server/sqlite3/storage\.ide-shm

HuddersfieldUniversity/obj/Debug/netcoreapp2\.0/HuddersfieldUniversity\.csproj\.CoreCompileInputs\.cache
